<h1>DashBoard</h1>
<div [ngClass]="{ cardscolumn: isMobile() }" class="cardsrow">
  <mat-card class="mat-card">
    <mat-card-header>
      <img
        matCardAvatar
        src="https://www.shutterstock.com/image-vector/dog-illustration-art-drawing-600nw-2476200107.jpg"
      />
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Mammals</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="https://shorturl.at/MoH8L" class="mat-card-image" />
    <mat-card-content> Lorem ipsum dolor, </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction(event)">Adopt</button>
      <button mat-button (click)="onAction(event)">Don't Adopt</button>
    </mat-card-actions>
    <mat-card-footer> Dog up for Adoption </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <mat-card-header>
      <img
        matCardAvatar
        src="https://www.shutterstock.com/image-vector/dog-illustration-art-drawing-600nw-2476200107.jpg"
      />
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Mammals</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="https://shorturl.at/MoH8L" class="mat-card-image" />
    <mat-card-content> Lorem ipsum dolor, </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction(event)">Adopt</button>
      <button mat-button (click)="onAction(event)">Don't Adopt</button>
    </mat-card-actions>
    <mat-card-footer> Dog For Adoption </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <mat-card-header>
      <img
        matCardAvatar
        src="https://www.shutterstock.com/image-vector/dog-illustration-art-drawing-600nw-2476200107.jpg"
      />
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Mammals</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="https://shorturl.at/MoH8L" class="mat-card-image" />
    <mat-card-content> Lorem ipsum dolor </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction(event)">Adopt</button>
      <button mat-button (click)="onAction(event)">Don't Adopt</button>
    </mat-card-actions>
    <mat-card-footer> Dog for adoption </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <mat-card-header>
      <img
        matCardAvatar
        src="https://www.shutterstock.com/image-vector/dog-illustration-art-drawing-600nw-2476200107.jpg"
      />
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Mammals</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="https://shorturl.at/MoH8L" class="mat-card-image" />
    <mat-card-content> Lorem ipsum dolor </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction(event)">Adopt</button>
      <button mat-button (click)="onAction(event)">Don't Adopt</button>
    </mat-card-actions>
    <mat-card-footer> Dog for adoption </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <mat-card-header>
      <img
        matCardAvatar
        src="https://www.shutterstock.com/image-vector/dog-illustration-art-drawing-600nw-2476200107.jpg"
      />
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Mammals</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="https://shorturl.at/MoH8L" class="mat-card-image" />
    <mat-card-content> Lorem ipsum dolor </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction(event)">Adopt</button>
      <button mat-button (click)="onAction(event)">Don't Adopt</button>
    </mat-card-actions>
    <mat-card-footer> Dog for adoption </mat-card-footer>
  </mat-card>
</div>
<div>
  <mat-card class="description">
    <mat-card-header>
      <mat-card-title>Dog</mat-card-title>
      <mat-card-subtitle>Description of dogs</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      The dog (Canis familiaris or Canis lupus familiaris) is a domesticated
      descendant of the gray wolf. Also called the domestic dog, it was
      selectively bred from an extinct population of wolves during the Late
      Pleistocene by hunter-gatherers. The dog was the first species to be
      domesticated by humans, over 14,000 years ago and before the development
      of agriculture. Experts estimate that due to their long association with
      humans, dogs have gained the ability to thrive on a starch-rich diet that
      would be inadequate for other canids.
    </mat-card-content>
  </mat-card>
</div>
